# Ignore system files and folders
AppData/
NTUSER.DAT*
*.log
*.swp
.vscode/
.idea/
OneDrive/
Pictures/
Saved Games/
Downloads/
Music/
Videos/
ntuser.dat.LOG1
ntuser.dat.LOG2
.ntuser.ini
.idlerc/
.viminfo
.bash_history
.lesshst
